
@{
    ViewBag.Title = "ListPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/Assets/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>List post</h1>
                   
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in ViewBag.list)
            {
                <div class="post-preview">
                    <a href="/Home/Detail/@item.id_post">
                        <h2 class="post-title">
                            @item.title
                        </h2>
                        <h3 class="post-subtitle">
                            @item.desShort
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#"> @item.User.fullName</a>
                        on @item.createdAt
                    </p>
                </div>
                <hr>
            }

        </div>
    </div>
</div>

